<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiaolong.exercises" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".a5.a5_calculator_activity" >
        </activity>
        <activity android:name=".a3.a3_textformatting_activity" >
        </activity>
        <activity android:name=".a3.subactivities.a3_textformatting_fontsize" >
        </activity>
        <activity android:name=".a3.subactivities.a3_textformatting_color" >
        </activity>
        <activity android:name=".a3.subactivities.a3_textformatting_alignment" >
        </activity>
        <activity android:name=".a3.subactivities.a3_textformatting_test" >
        </activity>
        <activity android:name=".a4.a4_showtime_showdate_activity" >
        </activity>
        <activity android:name=".a4.subactivities.a4_showdate_showtime_showdate" >
            <intent-filter>
                <action android:name="com.example.xiaolong.exercises.intent.showdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".a4.subactivities.a4_showdate_showtime_showtime" >
            <intent-filter>
                <action android:name="com.example.xiaolong.exercises.intent.showtime" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".a4.subactivities.a4_showdate_showtime_showdateextended" >
            <intent-filter>
                <action android:name="com.example.xiaolong.exercises.intent.showdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
